#dfArea
  canvas#dfCanvas(width=1000, height=800)
  input#file(type='file', name='file', size=1)
#controlPanel
  #status(style='display: none;')
  table#varTable
  #newVarButton
  button#executeButton Vad gör vi? Nu kör vi!
  ul#gateList